# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# ML artifacts
runs/
*.pt
*.onnx

# Dataset
dataset/images/
dataset/labels/

# Environment
.env